@import './reset.styl'
@import './fonts.styl'
@import './vars.styl'

html
  font-size: 62.5% // allows for rems - see http://snook.ca/archives/html_and_css/font-size-with-rem. tl;dr: it equals 10px with a standard default of 12px.

body
  font-size: 1.4rem
  font-family: $primaryFont
  font-weight: 400
  color: $black
  cursor: default
  background: #f7f7f7

button
  font-family: $primaryFont

a
  $linkColor = #0fa3e1
  text-decoration: none
  color: $linkColor
  
  &:visited
    color: $linkColor
    
  &:hover
    color: $betterviewBlue

textarea
input
  outline: none


