@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-black-webfont.woff2') format('woff2'),
       url('../fonts/biotif-black-webfont.woff') format('woff')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-blackitalic-webfont.woff2') format('woff2'),
       url('../fonts/biotif-blackitalic-webfont.woff') format('woff')
  font-weight: 900
  font-style: italic

@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-bold-webfont.woff2') format('woff2'),
       url('../fonts/biotif-bold-webfont.woff') format('woff')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/biotif-bolditalic-webfont.woff') format('woff')
  font-weight: 700
  font-style: italic

@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-book-webfont.woff2') format('woff2'),
       url('../fonts/biotif-book-webfont.woff') format('woff')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-bookitalic-webfont.woff2') format('woff2'),
       url('../fonts/biotif-bookitalic-webfont.woff') format('woff')
  font-weight: 300
  font-style: italic

@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/biotif-extrabold-webfont.woff') format('woff')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-extrabolditalic-webfont.woff2') format('woff2'),
       url('../fonts/biotif-extrabolditalic-webfont.woff') format('woff')
  font-weight: 800
  font-style: italic

@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-light-webfont.woff2') format('woff2'),
       url('../fonts/biotif-light-webfont.woff') format('woff')
  font-weight: 200
  font-style: normal

@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/biotif-lightitalic-webfont.woff') format('woff')
  font-weight: 200
  font-style: italic

@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-medium-webfont.woff2') format('woff2'),
       url('../fonts/biotif-medium-webfont.woff') format('woff')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-mediumitalic-webfont.woff2') format('woff2'),
       url('../fonts/biotif-mediumitalic-webfont.woff') format('woff')
  font-weight: 500
  font-style: italic

@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-regular-webfont.woff2') format('woff2'),
       url('../fonts/biotif-regular-webfont.woff') format('woff')
  font-weight: 400
  font-style: normal


@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-regularitalic-webfont.woff2') format('woff2'),
       url('../fonts/biotif-regularitalic-webfont.woff') format('woff')
  font-weight: 400
  font-style: italic

@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-semibold-webfont.woff2') format('woff2'),
       url('../fonts/biotif-semibold-webfont.woff') format('woff')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Biotif'
  src: url('../fonts/biotif-semibolditalic-webfont.woff2') format('woff2'),
       url('../fonts/biotif-semibolditalic-webfont.woff') format('woff')
  font-weight: 600
  font-style: italic

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-black.otf') format('opentype')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-blackitalic.otf') format('opentype')
  font-weight: 900
  font-style: italic

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-bold.otf') format('opentype')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-bolditalic.otf') format('opentype')
  font-weight: 800
  font-style: italic

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-book.otf') format('opentype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-bookitalic.otf') format('opentype')
  font-weight: 700
  font-style: italic

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-extralight.otf') format('opentype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-extralightitalic.otf') format('opentype')
  font-weight: 500
  font-style: italic

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-light.otf') format('opentype')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-lightitalic.otf') format('opentype')
  font-weight: 400
  font-style: italic

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-medium.otf') format('opentype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-mediumitalic.otf') format('opentype')
  font-weight: 300
  font-style: italic

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-regular.otf') format('opentype')
  font-weight: 200
  font-style: normal

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-regularitalic.otf') format('opentype')
  font-weight: 200
  font-style: italic

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-thin.otf') format('opentype')
  font-weight: 100
  font-style: normal

@font-face
  font-family: 'Pensum Pro'
  src: url('../fonts/pensumpro-thinitalic.otf') format('opentype')
  font-weight: 100
  font-style: italic
