// colors
$betterviewBlue = rgba(0, 144, 218, 1) // #0090DA
$blueHoverState = rgba(0, 144, 218, 0.08)
$blueLightHoverState = rgba(0, 144, 218, 0.04)
$betterviewRed =  rgb(255, 10, 57)
$betterviewGreen =  rgb(0, 220, 79)
$betterviewOrange = rgb(255, 145, 0)
$betterviewYellow = rgb(255, 235, 59)
//this is the same as charcoal, but since we refer to it so much i think its worth calling it a betterview color.
$betterviewBlack = rgb(37,40,42)

$navy = #1c2851
$black = #23272b
$charcoal = rgb(37,40,42)
$blue = rgba(0, 144, 218, 1)
$borderColor = #eff0ed
$gray = #c6c8c5
$grayText = rgba(37, 40, 42, 0.6)
$grayUnderline = #B0B8BF
$green = rgb(0, 220, 79) // #00DC4F
$inputHighlightColor = #f8fbff
$inputSelectionColor = #fdfad8
$inputLabelColor = rgba(37, 40, 42, 1)
$inputPlaceholderColor = rgba(37, 40, 42, 0.3)
$inputGroupBorderColor = rgba(37, 40, 42, 0.2)
$lightBlue = #5bceff
$lightGray = #eeefee
$orange = #ff8200
$red = rgb(255, 10, 57) // #FF0A39
$redError = #e04e39
$searchColor = #fff
$secondaryBorderColor = #447d95
$sidebarBorderColor = #4A4A4A
$trueblack = #000
$white = #fff
$yellow = #fdd835

// colors based on others
$disabledText = rgba($black, .6)
$placeholderText = lighten($black, 40%)

// fonts
$primaryFont = Biotif, -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif
$primaryBoldFont = Biotif-Bold, -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif
$primaryBookFont = Biotif-Book, -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif
$secondaryFont = Biotif, 'Montserrat', sans-serif
$mediumFont = Biotif, -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif
$lightFont = Biotif, -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif

$subtextFont = Pensum, -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif
$subtextFontPro = Pensum Pro, -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif

// global light direction
$lightOffsetX = 0
$lightOffsetY = .2rem

// z-index
$layer0 = 0
$layer1 = 1000
$layer2 = 2000
$layer3 = 3000
$layer4 = 4000
$layer5 = 5000
$layer6 = 6000
$layer7 = 7000
$layer8 = 8000
$layer9 = 9000

//global heights      
$primaryNavbarHeight = 6.4rem
$propertyProfileTopBarHeight = 11.4rem

$xs = 0px
$sm = 600px
$md = 960px
$lg = 1280px
$xl = 1920px
