
@import './styles/betterview.styl'

body 
  background-color: rgba(230, 230, 230, 1)

.root
  margin-left: auto
  margin-right: auto
  width: 497px
  background-color: white
  margin-top: 40px
  padding: 30px
  

.contentWrapper
  margin-top: 20px

.componentContainer
  margin-top: 20px 
  margin-left: auto
  margin-right: auto
  padding-bottom: 500px;

.showBorder
  border: solid 1px rgba(125, 125, 125, 1)

.hideBorder
  border: solid 1px  rgba(125, 125, 125, 0)